In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [2]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
df = df[['Sex','Age','Fare','Survived']]
df.head()

      Sex   Age     Fare  Survived
0    male  22.0   7.2500         0
1  female  38.0  71.2833         1
2  female  26.0   7.9250         1
3  female  35.0  53.1000         1
4    male  35.0   8.0500         0

### Analysing data

In [5]:
df.describe()

              Age        Fare    Survived
count  714.000000  891.000000  891.000000
mean    29.699118   32.204208    0.383838
std     14.526497   49.693429    0.486592
min      0.420000    0.000000    0.000000
25%     20.125000    7.910400    0.000000
50%     28.000000   14.454200    0.000000
75%     38.000000   31.000000    1.000000
max     80.000000  512.329200    1.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sex       891 non-null    object
 1   Age       714 non-null    float64
 2   Fare      891 non-null    float64
 3   Survived  891 non-null    int64
dtypes: float64(2), int64(1), object(1)
memory usage: 28.0+ KB

from the output of above cell we can observe column age has few missing values which we need to handle

## Handling Missing Values

In [7]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values = np.nan ,strategy = 'mean')

df.Age = imputer.fit_transform(np.array(df.Age.values).reshape(-1, 1))

In [8]:
df.head()

      Sex   Age     Fare  Survived
0    male  22.0   7.2500         0
1  female  38.0  71.2833         1
2  female  26.0   7.9250         1
3  female  35.0  53.1000         1
4    male  35.0   8.0500         0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sex       891 non-null    object
 1   Age       891 non-null    float64
 2   Fare      891 non-null    float64
 3   Survived  891 non-null    int64
dtypes: float64(2), int64(1), object(1)
memory usage: 28.0+ KB

Now we can see there are no missing values in our dataframe

## Handling Categorical Features

In our dataset we have only one categorical feature and it is sex

In [10]:
df_cat = pd.get_dummies(df.Sex)
df_cat.head()

df_nor = df.drop(['Sex'], axis = 1)

df = pd.concat([df_cat, df_nor], axis = 1)
df.head()

   female  male   Age     Fare  Survived
0       0     1  22.0   7.2500         0
1       1     0  38.0  71.2833         1
2       1     0  26.0   7.9250         1
3       1     0  35.0  53.1000         1
4       0     1  35.0   8.0500         0

## Distribute data into label and features

In [11]:
X = np.array(df.iloc[:, :-1])
y = np.array(df.iloc[:, -1])

## Spliting Data into Train and Test sets

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 11)

## Feature Scaling

In [13]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [14]:
X_train

array([[-0.74242727,  0.74242727, -1.03566431, -0.29278521],
       [-0.74242727,  0.74242727,  1.32098847, -0.14454056],
       [-0.74242727,  0.74242727,  0.18067261, -0.48963066],
       ...,
       [-0.74242727,  0.74242727, -0.73158008, -0.49101395],
       [-0.74242727,  0.74242727, -0.57953797, -0.4686273 ],
       [-0.74242727,  0.74242727, -0.35147479, -0.49321198]])