# Importing the Libraries

In [1]:
import pandas as pd

# Preprocessing
from sklearn import model_selection
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import ShuffleSplit

# Data Preparation

In [2]:
dataset = pd.read_csv('Social_Network_Ads.csv')
X = dataset.iloc[:, [2, 3]].values
y = dataset.iloc[:, -1].values

In [3]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [5]:
seed = 8

In [6]:
cv = ShuffleSplit(n_splits= 3, test_size = 0.25, random_state = seed)

Initializing the Base Classifier

In [7]:
base_cls = DecisionTreeClassifier()

Number of base classifier

In [9]:
num_trees = 500

In [10]:
model = BaggingClassifier(base_estimator = base_cls, n_estimators = num_trees, random_state = seed)

In [11]:
results = model_selection.cross_val_score(model, X, y, cv = cv)
print("Accuracy :", results.mean())

Accuracy : 0.88